<h3>Visits</h3>


<table>
  <thead>
  </thead>
    <th>Visitors</th>
    <th>Unique vistors</th>
    <th>Bounce rate </th>
  <tbody>
    <tr>
    </tr>

  </tbody>
</table>

<h3>Mobile Visits</h3>

<h3><%= link_to "Add a performance", new_performance_path %></h3>
<h3><%=link_to "Edit bio", edit_bio_path %></h3>
<h3><%=link_to "Update rep list", operas_new_path %></h3>
