<h2>Edit Content</h2>
<div>
  <ul>
    <li><h3><%=link_to "Update rep list", operas_new_path %></h3></li>
    <li><h3><%=link_to "Update links", links_path %></h3></li>
    <li><h3><%=link_to "Edit bio", edit_bio_path %></h3></li>
    <li><h3><%=link_to "Upload new resume", update_resume_path %></h3></li>

    <!-- <li><h3><%#= link_to "Add a performance", new_performance_path %></h3></li> -->
  </ul>
</div>