
<div id="about">
  <h2> about </h2>
  <div id="about_pic">
    <%=image_tag("cityscape.jpg", height:"300")%>
  </div>
  <p id='bio'>
  Emily Senturia, a répétiteur from San Francisco, is a first-year member of the Houston Grand Opera Studio, where she coaches Aida, Rigoletto, A Little Night Music, and Carmen during the 2013-14 season. She has been on the music staff for nearly forty operatic productions at Virginia Opera, Brevard Music Center, Rice University, and Indiana University, among others. Senturia held the 2011-12 Lucille Graham Répétiteur/Conducting Fellowship at the Royal Academy of Music in London. She spent four summers as a coaching fellow at the Aspen Music Festival, where most recently she was a coach for Peter Grimes and chorus master for Candide. Senturia recently served as assistant conductor and coach for The Barber of Seville and Tosca with Pensacola Opera, as well as Carmen with The Atlanta Opera. She has played under the direction of Robert Spano, Jane Glover, Arthur Fagen, Sir Colin Davis, Michael Christie, and Cristian Macelaru. 
</p>
</div>

<div id="rep_list">
  <h2>repertoire list</h2>
   <div id="bio_pic">
    <%=image_tag("headshot.jpg", width:"250")%>
  </div>
  <ul>
    <li>Bartók, Béla: Bluebeardʼs Castle [Hungarian]</li>
    <li>Berlioz, Hector: Béatrice et Bénédict</li>
    <li>Bernstein, Leonard: <ul><li>Candide</li><li> West Side Story</li></ul>
    <li>Bizet, Georges: Carmen</li>
    <li>Britten, Benjamin:<ul><li>A Midsummer Nightʼs Dream</li><li>Peter Grimes</li></ul>
    <li>Corigliano, John: The Ghosts of Versailles</li>
    <li>Dove, Jonathan: Mansﬁeld Park</li>
    <li>Floyd, Carlisle: Susannah</li>
    <li>Harbison, John: The Great Gatsby</li>
    <li>Loesser, Frank: The Most Happy Fella</li>
    <li>Massenet, Jules: Cendrillon</li>
    <li>Monteverdi, Claudio: Lʼincoronazione di Poppea [abridged]</li>
    <li>Moore, Douglas: The Ballad of Baby Doe</li>
    <li>Mozart, W.A.:<ul><li>Così fan Tutte [English]</li><li>Die Zauberﬂöte</li></ul>
    <li>Nicolai, Otto: Die Lustigen Weiber von Windsor</li>
    <li>Puccini, Giacomo:<ul><li>La bohème</li><li>Madama Butterﬂy</li><li>Tosca</li></ul>
    <li>Ravel, Maurice: Lʼenfant et les sortilèges</li>
    <li>Rossini, Giacchino: Il barbiere di Siviglia</li>
    <li>Sondheim, Stephen:<ul><li>A Little Night Music</li><li>Sweeney Todd</li></ul>
    <li>Strauss, Richard:Ariadne auf Naxos [Prologue]</li>
    <li>Sullivan, Sir Arthur:<ul><li>Iolanthe</li><li>The Mikado</li><li>The Pirates of Penzance</li><li>The Yeomen of the Guard</li></ul>
    <li>Vaughan Williams, Ralph: Riders to the Sea</li>
    <li>Verdi, Giuseppe:<ul><li>Aida</li><li>Rigoletto</li>
    <li>Weill, Kurt: The Threepenny Opera [English]</li>
  </ul>
</div>

<div id="contact">
  <h2>contact</h2>
    <ul>
      <li id='email'><a href='mailto:senturia@gmail.com'>senturia@gmail.com</a></li>
    </ul><br>
  <div id="contact_pic">
    <%=image_tag("twirl.jpg", width:"650")%>
  </div>
  <h2>links</h2>
    <ul>
      <li><a href= "http://www.houstongrandopera.org/studio">Houston Grand Opera Studio</a></li>
      <li><a href= 'http://www.aspenmusicfestival.com/students-welcome/programs-of-study/aspen-opera-theater-center/'>Aspen Opera Theater Center</a></li>
      <li><a href='http://www.wolftrap.org/Opera.aspx'>Wolf Trap Opera Company</a></li>
    </ul>
</div>
