body {
  background-color: #8A0808; 
}

.header {
  background: linear-gradient(to bottom, #bd9a79, transparent);
  padding: 25px;
  /*width: 700px;*/
  margin: auto; 
  text-align: center;
  height: 100px;
  /*border: 1px solid black;*/
}

h1 {
  font-variant: small-caps;
  font-size: 45px;
}

h2 {
  font-variant: small-caps;
  font-weight: 0;
  font-size: 25px;
  background: linear-gradient(to right, #8A0808, transparent);
  padding: 5px;
  color: white;
}

#rep_list, #about, #contact {
  font-family: serif;
}

a:link {
  text-decoration:none;
}

.content {
  background: linear-gradient(to right, #bd9a79, #f9f3c1);
  padding: 25px;
  text-align: justify;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width:700px;
}

.navbar {
  position: relative;
  width: 750px;
  margin: auto;
  height: 60px;
}
.navbar .menu {
  list-style-type: none;
  text-align: right;
  margin: auto;
  width: 710px;
  /*margin-right: 10px;*/
  /*position: absolute;*/
  /*border: 1px solid black;*/
}

.navbar .menu li {
  font-size: 25px;
  font-variant: small-caps; 
  display: inline-block;
  /*border: 1px solid black;*/
  padding: 10px;
}

.navbar .menu li a {
  color: white;
  padding: 5px;
}

.navbar .menu li a:hover {
  color: #8A0808;
  background-color: #f9f3c1;
}

#about {
  padding: 20px
}

#bio_pic {
  margin: auto;
  margin: 20px;
}

li {
  list-style-type: none;
}

#email {
  font-size: 22px;
}

#rep_list li {
  margin: 1em 0;
}

#composer {
  font-weight: 700;
}

#opera {
  font-style: italic;
}

#contact_pic {
  /*border: 1px solid black;*/
  width: 650px;
  margin: auto;
}