body {
  background-color: #8A0808; 
  position: relative;
}

.fixed {
  z-index: 1;
}

.header {
  background: linear-gradient(to bottom, #bd9a79, transparent);
  padding: 25px;
  width: 100%;
  top: 0px;
  /*margin: auto; */
  text-align: center;
  height: 100px;
  position: fixed;
  border-radius: 12px;
  /*border: 1px solid black;*/
}

h1 {
  font-variant: small-caps;
  font-size: 45px;
  color: #02073A;
}

h2 {
  font-variant: small-caps;
  font-weight: normal;
  font-size: 25px;
  background: linear-gradient(to right, #8A0808, transparent);
  padding: 8px;
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 100px;
  height: 60px;
  /*border: 1px solid black;*/

}
.navbar .menu {
  list-style-type: none;
  text-align: right;
  margin: auto;
  width: 710px;
  /*border: 1px solid black;*/
}

.navbar .menu li {
  font-size: 25px;
  font-variant: small-caps; 
  display: inline-block;
  /*border: 1px solid black;*/
  padding: 10px;
}

.navbar .menu li a {
  color: white;
  padding: 5px;
}

.navbar .menu li a:hover {
  color: #8A0808;
  background-color: #f9f3c1;
}

#rep_list, #about, #contact {
  font-family: serif;
  padding: 20px

}

a:link {
  text-decoration:none;
}

.content {
  background: linear-gradient(to right, #bd9a79, #f9f3c1);
  padding: 25px;
  text-align: justify;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  width:700px;
}


#about_pic {
  width: 650px;
  margin: auto;
}

li {
  list-style-type: none;
}

#email {
  font-size: 22px;
}

#rep_list li {
  margin: 1em 0;
}

#composer {
  font-weight: 700;
}

#opera {
  font-style: italic;
}

#contact_pic {
  /*border: 1px solid black;*/
  width: 650px;
  margin: auto;
}